<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402777997671-9mg6844oc2iou9hmoqht0sffejenifau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402777997671-9mg6844oc2iou9hmoqht0sffejenifau</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402777997671-ap43fq36k5slhmc7h75b7akkqft0a7ig.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCryd7bcFz5A8uP4ZlN6PSei_2Z2mr1lNw</string>
	<key>GCM_SENDER_ID</key>
	<string>402777997671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopsmartUsersAr</string>
	<key>PROJECT_ID</key>
	<string>shopsmart2023-f2cb9</string>
	<key>STORAGE_BUCKET</key>
	<string>shopsmart2023-f2cb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402777997671:ios:1203cc8cee34d322ef2fc2</string>
</dict>
</plist>