<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCryd7bcFz5A8uP4ZlN6PSei_2Z2mr1lNw</string>
	<key>GCM_SENDER_ID</key>
	<string>402777997671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopsmartUsersAr.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shopsmart2023-f2cb9</string>
	<key>STORAGE_BUCKET</key>
	<string>shopsmart2023-f2cb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402777997671:ios:dab606e0b697c912ef2fc2</string>
</dict>
</plist>